.title {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
}

.controls {
    display: flex;
    gap: 20px
}

.slide {
    display: flex;
    align-items: center;
    justify-content: center;
}